<header class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- ハンバーガーメニュー（小さい画面用） -->
    <button class="btn btn-outline-light" id="menu-toggle">☰</button>
    <!-- 左側タイトル -->
    <a class="navbar-brand fw-bold" href="#">ShiftMate</a>

    <%= button_to "ログアウト",
              destroy_user_session_path,
              method: :delete,
              data: { turbo: false },
              class: "btn btn-outline-light" %>
  </div>
</header>